# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

csv_reader/src/RAW_recipes.csv
csv_reader/src/RAW_recipes_delimitier.csv
csv_reader/src/originalData/*
csv_reader/src/.~lock.RAW_recipes_delimitier.csv#'
